@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

body{
  background: hsl(218, 23%, 16%);
  display: grid;
  place-content: center;
  align-items: center;

  min-height: 100vh;
  padding: 0;
  margin: 0;
}

.box{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 550px;
    text-align: center;
    padding: 2rem;
    gap: 1.5rem;

    font-size: 1.75rem;
    background: hsl(217, 19%, 24%);
    border-radius: .5em;
}
p{
  margin: 0;
}

picture, img {
    max-width: 100%;
}

.advice_num{
  color: #4BD093;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: .8rem;
  
}

.advice{
  color: #D1E4EA;
}


.dice{
    position: absolute;
    border: none;
    cursor: pointer;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    display: grid;
    place-items: center;
    bottom: -30px;
    height: 55px;
    aspect-ratio: 1;
    background: hsl(150, 100%, 66%);
}
.dice-image{
  animation: spin 1s infinite forwards;
}

.dice:hover{
  box-shadow: 0 0 1rem 0.2rem hsl(150 100% 66%);
}

@keyframes spin {

  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 550px){
  .box {
      width: 90%;
      margin: auto;
  }
}

footer{
  position: relative;
  top: 10.5em;
}
.foot-txt{
  color: hsl(150 100% 66%);;
}
.attribution {
  font-size: 12px;
  text-align: center;
}
.attribution a {
 color: hsl(228, 45%, 44%); 
}